body {
	background-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: url('assets/img/squairy_light.png');
}

#title {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 85px;
}

#title img {
  padding-top: 15px;
  width: auto;
  -webkit-animation-name: zoomy;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes zoomy {
  from {
    height: 70px;
    padding-top: 15px;
  }

  to {
    height: 75px;
    padding-top: 10px;
  }
}

/*
 * Character selection
 */

#selection {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#characterSelection {
  padding-top: 85px;
}

td {
  border-style:inset;
  border-width:10px;
  border-color:#FFFFFF;

  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
  border-spacing: 0px;
}

.highlightRed {
  border-left-color: red !important;
  border-color: red;
}

.highlightBlue {
  border-right-color: blue !important;
  border-color: blue;
}

.highlightGreen {
  border-top-color: green !important;
  border-color: green;
}

.highlightYellow {
  border-bottom-color: yellow !important;
  border-color: yellow;
}

#characterSelection img {
  width: inherit;
  height: inherit;
}

.buff {
    font-weight: bold;
}

.nerf {
    font-weight: bold;
}

#players {
  width: 900px;
}

.player {
  width: 160px;
  height: 300px;
  display:inline-block;
  margin-right:20px;

}

.player h2 {
  text-align: center;
  font-size: 22px;
  font-style: italic;
}

.player img {
  width: inherit;
  height: inherit;
  margin: -10px;
  margin-bottom: -4px;
}

.playerImage {
  border-style:inset;
  border-width:10px;
}

#player1Image {
  border-color:red;
}

#player2Image {
  border-color:blue;
}

#player3Image {
  border-color:green;
}

#player4Image {
  border-color:yellow;
}

/*
 * Stage Selection
 */
#stageSelection {
	width: 220px;
  top: 85px;
  right: 0px;
  position: absolute;
}

.stage {
	width: inherit;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.stage img {
  width: inherit;
  height: auto;
  position: absolute;
  top: -20px;
}

.stageNumber {
	font-size: 45px;
  font-style: italic;
	color: white;
  padding-right: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-shadow: 1px 1px 0 #000;
}

/*
 * Game display
 */
#canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

#hud {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

#hud > div {
  position: absolute;
  bottom: 0;
  width: 25%;
  color: white;
  text-shadow: 1px 1px 0 #000;
  text-align: center;
}

#hud .name {
  font: 20px bold "Helvetica";
  font-style: italic;
}

#hud .damage {
  font: 40px bold "Helvetica";
  font-style: italic;
  padding: 15px;
}

#p1 {
  left: 0;
}

#p2 {
  left: 25%;
}

#p3 {
  left: 50%;
}

#p4 {
  left: 75%;
}

#winner {
  text-align: center;
  position: absolute;
  font-size: 100px;
  font: 100px bold "Helvetica";
  font-style: italic;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  color: white;
  display:none;
  text-shadow: 1px 1px 0 #000;
}

#instructions {
  font-size: 10px;
  width: 220px;
  position: absolute;
  top: 450px;
  right: 0px;
}
